html::-webkit-scrollbar {
    width: 0;
}

.staff-profiles {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
    /* border: 1px solid black; */
}

.main-box {
    align-items: stretch;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    flex: 1;
    align-content: stretch;
    grid-template-columns: 24% 56% 20%;
    background: #F7F7FA;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.main-box>div:first-child {
    display: flex;
    flex-direction: row;
}

.box1,
.box2,
.box3 {
    box-sizing: border-box;
    /* padding-bottom: 10px;  */
    padding: 0px;
    justify-content: space-evenly;
    font-family: 'Source Sans Pro', sans-serif;
}

.box1 {
    display: flex;
    text-align: center;
    border-radius: 10px;
    flex-direction: column;
    font-size: 25px;
    flex: 1;
}

.box2 {
    border-radius: 10px;
    flex: 2;
}

.box3 {
    text-align: end;
    border-radius: 10px;
    line-height: 300%;
    vertical-align: text-bottom;
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.box3>div {
    padding-right: 2.5rem;
}

.staff-name {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 70px;
}

.staff-image {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.staff-images {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    align-self: center;
    padding-bottom: 20px;
    padding-top: 20px;
    object-fit: cover;
}


.flag-icon {
    display: inline-block;
    width: 10px;
    background-size: cover;
}

.availability {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
}

.button {
    box-sizing: content-box;
    color: black;
    float: left;
}

.contact-btn {
    /*width: 200px;*/
    height: 45px;
    background-color: #4e4ef2;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    padding-bottom: 10px;
    border-radius: 5px;
    align-self: center;
}

.contact-btn:hover {
    transform: scale(1.1);
}

.job-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #7e7eaa;
}

.job-details {
    box-sizing: content-box;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    font-size: 24px;
    line-height: 1.3;
    color: #263238;
    font-family: 'Source Sans Pro', sans-serif;
}

.past-project {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #1e1c23;

}

.project-boxes {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    padding-bottom: 10px;
}

.project-box {
    max-width: 100px;
    max-height: 60px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    /* box-shadow: 1px 1px 1px 2px rgb(234, 233, 240); */
    margin-right: 20px;
    cursor: pointer;
}

.project-box h3 {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

.project-box p {
    font-size: 16px;
    line-height: 1.4;
    color: red;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-align: center;
}

.project-box:hover {
    /* box-shadow: 1px 1px 1px 2px #0006; */
    transform: scale(1.2);
}

.project-logo {
    width: 100%;
    height: 100%;
    align-self: center;
    object-fit: contain;
}

.qualification-boxes {
    display: flex;
    flex-wrap: wrap;
    max-height: 65px;
    overflow: hidden;
    /*justify-content: space-between;*/
}

.qualification-box {
    /* width: calc(22% - 10px); */
    margin-bottom: 10px;
    /* padding: 5px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #D7D7F7;
    margin-right: 20px;
}

.qualification-box h3 {
    font-size: 18px;
    /* margin-bottom: 10px; */
    font-family: 'Source Sans Pro', sans-serif;
}

.qualification-box p {
    font-size: 20px;
    line-height: 1;
    color: #4e4ef2;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    display: block ruby;
}

.rate {
    font-size: 48px;
    padding-right: 10px;
    padding-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.job-success {
    font-size: 24px;
    padding-right: 10px;
    padding-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.rated {
    font-size: 24px;
    padding-right: 10px;
    padding-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: end;
}

.rated svg {
    height: 1em;
    margin-right: 1ex;
}

.rated img {
    height: 1em;
    margin-right: 1ex;
}

.experience {
    font-size: 24px;
    padding-right: 10px;
    padding-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

.years {
    background: lightblue;
    border-radius: 1em;
    width: 2em;
    display: inline-block;
    height: 2em;
    text-align: center;
    position: relative;

}

.years::before {
    content: " ";
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 10%;
    top: 10%;
    border-radius: 2em;
    background: white;

}

.years::after {
    content: attr(data-years);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.profile-icon {
    width: 40px;
    height: 40px;
    /* border-radius: 10%; */
    margin: 10px;
    /* box-shadow: 0 0 5px gray; */
    margin-top: 50px;
    object-fit: contain;

}

.flag {
    width: 35px;
    /* height: 40px; */
    border-radius: 10%;
    margin: auto;
    /*box-shadow: 0 0 5px blueviolet;*/
}

.profile-icon:hover {
    transform: scale(1.2);
    /*background-color: lightcoral;*/
    border-color: blueviolet;

}

.innerbox1 {
    padding: 0 1rem;
    align-content: center;
    vertical-align: middle;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #1e1c23;
}

.contact-modal {
    display: none;
}

.contact-modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.contact-modal .close:hover,
.contact-modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content>form {
    display: flex;
    flex-direction: column;
}

.modal-content>form>h2 {
    align-self: center;
    font-family: 'Source Sans Pro';
}

.modal-content>form>div>input,
.modal-content>form>textarea {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #7E7EAA;
    font-size: 20px;
    font-family: 'Source Sans Pro';
    flex: 1;
}

.modal-content>form>input[type="submit"],
.modal-content>button {
    background-color: #4e4ef2;
    color: white;
    font-size: 20px;
    font-family: 'Source Sans Pro';
    border-radius: 5px;
    padding: 15px 35px;
    border: none;
    margin: 10px;
    width: max-content;
    cursor: pointer;
    align-self: flex-end;
}

@media (max-width: 1080px) and (orientation: portrait) {
    .main-box {
        padding: 20px 40px;
        width: auto;
    }
    .main-box>div:first-child {
        flex-direction: column;
        gap: 30px;
    }

    .main-box>div:first-child>div{
        display: flex;
        flex-direction: row;
    }

    .box1 {
        flex-direction: row;
        justify-content: flex-start;
        margin: unset;
        gap: 2vh;
    }

    .box1>img {
        padding: 0
    }

    .box1>div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .rate {
        font-size: 60px;
        align-self: flex-start;
    }

    .innerbox1 {
        font-size: 42px;
        align-self: flex-start;
        padding: 0;
    }

    .flag {
        width: 64px;
    }

    .job-success {
        font-size: 42px;
        padding: 0;
    }

    .box2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: unset;
        gap: 2vh;
    }

    .box2>div:first-child {
        flex: 3;
    }

    .rated {
        justify-content: flex-start;
        font-size: 42px;
    }
    
    .box2>div:last-child {
        flex: 2;
    }

    hr {
        border-top: 8px solid #4e4ef2;
        width: 50%;
        margin: 0;
    }

    .profile-icon {
        width: 64px;
        height: 64px;
    }

    .experience {
        padding: 0;
        font-size: 42px;
        flex: 1;
        align-self: center;
        display: flex;
        gap: 10px
    }

    .experience>span {
        align-self: center
    }

    .availability {
        font-size: 32px;
        padding: 0;
        margin: 0;
        flex:1;
        align-self: center;
    }

    .contact-btn {
        width: 100%;
        font-size: 42px;
        height: auto;
    }

    .job-profile {
        display: flex;
        flex-direction: column !important;
        gap: 10px;
    }

    .job-title {
        font-size: 42px;
        padding: 0;
        margin: 0;
    }

    .job-details {
        font-size: 32px;
        padding: 0;
        margin: 0;
    }

    .past-project {
        font-size: 42px;
        padding: 0;
        margin: 0;
    }

    .project-boxes {
        gap: 40px;
        flex-wrap: wrap;
        width: 100%;
    }

    .project-box {
        height: 80px;
        width: auto;
        margin: 0;
        padding: 0;
        max-width: unset;
    }

    .project-logo {
        /* height: 80px; */
        width: auto;
    }
}