* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100%;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex: 1;
}

.active{
border: 5px solid blue;
}

.title {
    text-align: center;
    font-size: 3vh;
    font-weight: 600;
}

.appContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    align-items: center;
    margin-inline: -15px;
}

.application {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer {
    width: 25vw;
    height: 25vw;
    background-color: #4E4EF2;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer > img {
    width: 15vw;
    height: 15vw;
}

.mobileName {
    margin-top: 5px;
    font-weight: 600;
    font-size: 2vh;
}
.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageNumber{
    color: gray;
    font-size: 18px;
    font-weight: 600;
}

.button{
    background-color: #4E4EF2;
    padding: 2vh 4vh;
    font-size: 18px;
    color: white;
    border-radius: 8px;
    outline: none;
    border: none;
}

.button > a{
    color: white;
    text-decoration: none;
}