* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    min-height: 100vh;
}

.headerContainer {
    display: flex;
    padding: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.totalTitle {
    font-size: 20px;
    font-weight: 600;
}

.total {
    font-size: 16px;
    color: gray;
    font-weight: 600;
    margin-top: 5px;
}

.totalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex: 1;
}

.title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageNumber{
    color: gray;
    font-size: 18px;
    font-weight: 600;
}

.middleContainer {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputContainer {
    margin-top: 30px;
    font-size: 20px;
    align-items: center;
    display: flex;
}

.inputCheck{
    width: 45px;
    height: 23px;
    margin-top: 10px;
    border: 1px solid gray;
    outline: none;
    border-radius: 2px;
}

.paymentInputContainer{
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}

.label {
    margin-left: 10px;
}

.inputContainer:first-child {
    margin-top: 0px;
}

.buttonContainer > a{
    background-color: #4E4EF2;
    padding: 2vh 4vh;
    font-size: 18px;
    border-radius: 8px;
    outline: none;
    border: none;
}

.buttonContainer > a{
    color: white;
    text-decoration: none;
}

.checkbox{
    width: 23px;
    height: 23px;
}

.check{
    width: 27px;
    height: 27px;
}

.finalTotal{
    color: #4E4EF2;
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
    font-size: 2rem;

}

.calendly-inline-widget{
    margin-top: 30px;
    flex-grow: 1;
}